# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac OS Directory
.DS_Store

# Virtual Environments
venv/
env/
.env/

# IDE files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Logs
*.log
